<template>
  <div id="app">
    <v-app>
      <v-content>
        <v-container>
          <v-card>
            <v-card-text>
              <v-text-field></v-text-field>
            </v-card-text>
          </v-card>
        </v-container>
      </v-content>
    </v-app>
  </div>
</template>

<script>
  export default {}
</script>
